# dependencies
node_modules

# sst
.sst

# tmp files
.#*

# env 
.env*.local
.env

# opennext
.open-next

# misc
.DS_Store

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

*.secrets.env
.env
