name: Build

on:
    pull_request:
        branches:
            - '*'

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20.x]
        steps:
            - name: Clone Repository
              uses: actions/checkout@v3
            - name: Setup Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - name: Install Dependencies
              run: |
                  echo "Installing node dependencies..."
                  bun i
            - name: 'Setup Build Cache'
              uses: actions/cache@v3
              with:
                  path: |
                      ${{ github.workspace }}/packages/frontend/.next/cache
                  key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.[jt]s', '**/*.[jt]sx') }}
                  restore-keys: |
                      ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
            - name: Build Project
              run: |
                  cd packages/frontend && \
                  bun run build
